* {
  font-family: JetbrainsMono Nerd Font;
  font-size: 16px;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

#waybar {
  background: transparent;
  color: #c6d0f5;
  margin: 2px 2px 0 2px;
}

#workspaces {
  border-radius: 5px;
  margin: 5px;
  background: #2a2b3d;
}

#workspaces button {
  color: #babbf1;
  border-radius: 5px;
  padding: 0.4rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power,
#custom-lowbattery {
  background: #2a2b3d;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#memory {
  border-radius: 0px 5px 5px 0px;
}

#network {
  border-radius: 5px;
  margin-right: 5px;
}

#custom-lowbattery {
  border-radius: 5px;
  color: red;
  font-weight: bold;
  animation: blink 1s steps(2, start) infinite;
}
@keyframes blink {
  to {
    background-color: transparent;
  }
}

#clock {
  color: #8caaee;
  border-radius: 5px;
  margin-right: 1rem;
}

#battery {
  color: #a6d189;
}

#battery.charging {
  color: #a6d189;
}

#battery.warning:not(.charging) {
  color: #e78284;
}

#backlight {
  color: #e5c890;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: #ea999c;
  border-radius: 5px 0px 0px 5%;
  margin-left: 1rem;
}

#custom-music {
  color: #ca9ee6;
  border-radius: 5px;
}

#custom-lock {
  border-radius: 5px;
  color: #babbf1;
  margin-left: 5px;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 5px 5px 0px;
  color: #e78284;
}

#tray {
  margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 5px;
}
